{% extends "base.html" %} {% load static %} {% block title %}Hotel b_IT - Habitaciones{% endblock %} {% block content %}
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/16.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Habitaciones</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="../home">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Habitaciones</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Rooms Area Start -->
<div class="roberto-rooms-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Room Area -->

                {% for room in habitacion  %}
                    <!-- Single Room Area -->
                    <div class="single-room-area d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="900ms">
                        <!-- Room Thumbnail -->
                        <div class="room-thumbnail">
                            <img src="../static/img/bg-img/{{room}}.jpg" alt=" foto {{room}}">
                        </div>
                        
                        <!-- Room Content -->
                        <div class="room-content">
                            <h2>{{room}}</h2>
                            <h4>$ {{room.precio}} <span>/ Día</span></h4>
                            <div class="room-feature">
                                <h6>Tamaño: <span>80 mtrs</span></h6>
                                <h6>Capacidad: <span>Max. {{room.capacidad}}</span></h6>
                                <h6>Camas: <span>Camas matrimoniales</span></h6>
                                <h6>Servicios: <span>Wifi, Television, Baños, Aire acondicionado</span></h6>
                            </div>
                            <a href="../habitacion_vip" class="btn view-detail-btn">Saber más <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {% endfor %}

                <!-- Pagination -->
                
            </div>

            <div class="col-12 col-lg-4">
                <!-- Hotel Reservation Area -->
                <div class="hotel-reservation--area mb-100">
                    <form action="#" method="post">
                        <div class="form-group mb-30">
                            <label for="checkInDate">Días</label>
                            <div class="input-daterange" id="datepicker">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <input type="date" class="form-control" id="checkIn" name="Fecha_ingreso" required>
                                    </div>
                                    <div class="col-6">
                                        <input type="date" class="form-control" id="checkOut" name="Fecha_egreso" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-30">
                            <label for="guests">Invitados</label>
                            <div class="row">
                                <div class="col-12">
                                    <select name="adults" id="guests" class="form-control">
                                            <option value="adults">Personas</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">más de 10</option>
                                            
                                        </select>
                                </div>
                                {% comment %} <div class="col-6">
                                    <select name="children" id="children" class="form-control">
                                            <option value="children">Niños</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                        </select>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="form-group mb-50">
                            <div class="slider-range">
                                <div class="range-price">Precio máximo: $0 - $10000</div>
                                <div data-min="0" data-max="10000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="3000" data-label-result="Precio máximo: ">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn roberto-btn w-100">Ver Disponible</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rooms Area End -->

{% endblock %}