{% extends 'base.html' %} {%load static%} {%block title%} Hotel BIT | Editar Reserva{% endblock title%} {% block nombre_usuario %} {% if user.is_autenticate %}
<span>hola username</span> {% else %}
<span>No has iniciado sesión</span> {% endif %} {% endblock nombre_usuario %} {% block content %}
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(../static/img/bg-img/16.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">


                    {% if metodo %}
                    <h2 class="page-title">Reserva Exitosa!</h2>
                    {% elif reserva_cancelada %}
                    <h2 class="page-title">Cancelar Reserva</h2>
                    {% else %}
                    <h2 class="page-title">Finalizar Reserva</h2>
                    {% endif %}

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Datos extras y pago</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block habitaciones %}

<h2> Habitaciones Disponibles para ti</h2>

{% endblock habitaciones %} {% block habitaciones_slide %}






<section class="roberto-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">

                    {% if metodo %}
                    <h6>Su reserva a sido Guardada Exitosamente!</h6>
                    <h2>Detalles:</h2>

                    <li>Tipo de Pago: {{ metodo }}</li>
                    <li>Estado Actual : {{ estado }}</li>
                    <li>Número de Reserva : {{ id }}</li>

                    <br>
                    <br>
                    <a href="../home/">Volver al Inicio</a> {% elif reserva_cancelada %}

                    <h6>Su reserva a sido cancelada Exitosamente!</h6>
                    <h2>Detalles:</h2>


                    <li>Estado Actual : {{ reserva_cancelada.status_payment }}</li>
                    <li>Número de Reserva : {{ reserva_cancelada.identificador }}</li>
                    <li>Ocupantes : {{ reserva_cancelada.ocupantes }}</li>
                    <li>Entrada : {{ reserva_cancelada.fecha_entrada }} </li>
                    <li>Salida : {{ reserva_cancelada.fecha_salida }} </li>
                    <li>Precio total : ${{ reserva_cancelada.precio_total }} </li>
                    <li>Habitacion : {{ reserva_cancelada }} </li>

                    <br>
                    <br>
                    <a href="../home/">Volver al Inicio</a> {% else %}
                    <h6>Medios de Pago</h6>
                    <h2>Selecciona un medio de Pago</h2>
                    {% endif %}


                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Post Area -->
            {% for res in reserva %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <a href="http://hotelbit.byethost31.com/hotel/mercado_pago.php?nombre={{res}}&precio={{res.precio_total}}&usuario={{res.reserva_reserva}}&id={{res.identificador}}" class="post-thumbnail"><img src="{% static 'img/bg-img/mercadopago.jpg' %}" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">{{res.fecha_entrada}}</a>
                        <a href="#" class="post-date">{{res.fecha_salida}}</a>
                        <a href="#" class="post-catagory">${{res.precio_total}}</a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">Mercado Pago 2020</a>
                    <p>¿Cuántos autorespondedores gratuitos has probado? ¿Y cuántos correos electrónicos recibiste al usarlos?
                    </p>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <a href="#" class="post-thumbnail"><img src="{% static 'img/bg-img/pago.jpg' %}" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">{{res.fecha_entrada}}</a>
                        <a href="#" class="post-date">{{res.fecha_salida}}</a>
                        <a href="#" class="post-catagory">${{res.precio_total}}</a>
                    </div>
                    <!-- Post Title -->
                    <form action="{% url 'actualizacion' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="metodo" value="Efectivo" hidden>
                        <input type="number" name="id1" value="{{res.identificador}}" hidden>
                        <input type="text" name="StatusPayment" value="Pendiente" hidden>
                        <button action="submmit" class="post-title">Pago en Efectivo</button>
                        <p>Mmi punto aquí es que si no tienes idea de las respuestas anteriores, probablemente no estés haciendo un seguimiento.</p>
                        <a href="#" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </form>
                </div>
            </div>

            <!-- Single Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <a href="#" class="post-thumbnail"><img src="{% static 'img/bg-img/cancelar_reserva.jpg' %}" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">Jun 02, 2019</a>
                        <a href="#" class="post-catagory">Medio Seguro</a>
                    </div>
                    <!-- Post Title -->
                    <form action="{% url 'cancel_res' %}" method="post">{% csrf_token %}

                        <input type="number" name="id_reserva" value="{{res.identificador}}" hidden>

                        <button action="submit" class="post-title">Cancelar la reserva</button>

                    </form>
                    <li>
                        <ul>{{res}}</ul>
                        <ul>USUARIO {{request.user.username}}</ul>
                        <ul>Ocupantes {{res.ocupantes}}</ul>
                        <ul>Precio Total {{res.precio_total}} </ul>
                        <ul> Dias {{dias}} </ul>
                    </li>
                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>



{% endblock habitaciones_slide %}