{% extends 'base.html' %} {% block title %} Hotel BIT | Reservas {% endblock title %} {% block nombre_usuario %} {% if user.is_autenticate %}
<span>hola username</span> {% else %}
<span>No has iniciado sesión</span> {% endif %} {% endblock nombre_usuario %} {% block content %}
<br><br><br><br><br><br> {% endblock content %} {% block formulario %}
<div class="container-fluid">
    <div class="hotel-search-form">
        <form action=" {% url 'editar_reserva' %} " method="post">
            <div class="row justify-content-between align-items-end">
                <div class="col-6 col-md-2 col-lg-3">
                    <label for="checkIn">Fecha Ingreso</label>
                    <input type="date" class="form-control" id="checkIn" name="Fecha_ingreso" required>
                </div>
                <div class="col-6 col-md-2 col-lg-3">
                    <label for="checkOut">Fecha Egreso</label>
                    <input type="date" class="form-control" id="checkOut" name="Fecha_egreso" required>
                </div>
                <div class="col-4 col-md-3">
                    <label for="room">Total Personas</label>
                    <select name="Numero_Personas" id="room" class="form-control">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                </select>
                </div>

                <div class="col-12 col-md-3">
                    <button type="submit" class="form-control btn roberto-btn w-100">Ver Disponibles</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% comment %}
<h1> Habitaciones </h1>
<h2>

    {% for habitacion in habitacion %}
    <div>
        <p> {{ habitacion}} Precio : {{ habitacion.precio }} x/noche</p>
        <p> Capacidad : {{ habitacion.capacidad }} </p>
    </div>
    {% endfor %} {% endcomment %}

</h2>
{% endblock formulario %} {% block texto %} {% endblock texto %}